{% extends "base.html" %}
{% load blog_tags %}

{% block title %}Home Page{% endblock %}

{% block content %}
  <article id="post-list">
    {% for post in posts %}
      {% include 'blog/post.html' with post=post %}
    {% empty %}
      No posts yet.
    {% endfor %}
  </article>
{% endblock %}

{% block domready %}
  var page = {% page request %};
  var empty_page = false;
  var block_request = false;

  $(window).scroll(function() {
      var category = '{% category request %}'
      var position = $(window).scrollTop();
      var bottom = $(document).height() - $(window).height();
      if (position + 50 >= bottom && empty_page == false && block_request == false) {
        block_request = true;
        page += 1;
        $.get('?page=' + page + '&c=' + category , function(data) {
          if(data == ''){
            empty_page = true;
          }
          else {
            block_request = false;
            $('#post-list').append(data);
          }
        });
      }
  });
{% endblock %}
