{% load static %}
{% load blog_tags %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/main.css' %}">

  {% block css %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light shadow">
    <div class="container-md">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
              aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% active request 'home' %}">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item {% active request 'about_me' %}">
            <a class="nav-link" href="{% url 'about_me' %}">About me</a>
          </li>
          <li class="nav-item {% active request 'contact_info' %}">
            <a class="nav-link" href="{% url 'contact_info' %}">Contact</a>
          </li>
          <li class="nav-item {% active request 'categories' %}">
            <a class="nav-link" href="{% url 'categories' %}">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/rcybulski1122012">Github</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="query">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<div class="container mt-5">
  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
  <main>
    {% block content%}
    {% endblock %}
  </main>
</div>

<script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
{% block js %}{% endblock %}

<script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });

    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
    });
  </script>
</body>
</html>
